.Bubble {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Bubble img {
  width: 70%;
  height: auto;
}

.BubbleBorder {
  width: 70px;
  height: 70px;
  border: solid 1px transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 150ms;
}
